$color-header-footer:#192A4E;
$color-body:#F5F7FA;
$color-principal:#DF2361;
$color-principal-hover:#B01D4E;
$color-principal-focus:#981640;
$color-texto:#374151;
$h1-mobile-size:1.875rem;
$h1-desktop-size:3.75rem;
$h2-mobile-size:1.5rem;
$h2-desktop-size:2.5rem;
$h3-mobile-size:1.25rem;
$h3-desktop-size:1.875rem;
$h4-size:#374151;
$p-mobile:0.875rem;
$p-desktop-size:1rem;
$texto-descriptivo:1rem;
$texto-medidas:0.75rem;
$texto-descriptivo-desktop: 2rem;

@mixin large-btn-mobile{
color: white;
width: 60%;
min-width: 300px;
max-width: 23rem;
padding: 0.6rem 5rem 0.6rem 5rem;
border-radius: 8px;
background-color: $color-principal;
transition: all 0.3s ease;
}
.large-btn-mobile:hover{
background-color: $color-principal-hover;
}
@mixin large-btn-mobile-2{
    color: $color-principal;
    width: 60%;
    min-width: 300px;
    max-width: 23rem;
    padding: 0.6rem 5rem 0.6rem 5rem;
    border-radius: 8px;
    border: 2px solid $color-principal;
    background-color:$color-body;
    transition: all 0.3s ease;
    }
.large-btn-mobile-2:hover{
    background-color: white;
    }
@mixin small-btn-mobile{
    color: white;
    max-height: 2.5rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-radius: 8px;
    background-color: $color-principal;
    transition: all 0.3s ease;
    }
    .small-btn-mobile:hover{
        background-color: $color-principal-hover;
        }
@mixin small-btn-desktop{
        color: white;
        max-height: 2.5rem;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        border-radius: 8px;
        background-color: $color-principal;
        transition: all 0.3s ease;
    }
.small-btn-desktop:hover{
    background-color: $color-principal-hover;
    }

body{
background-color: $color-body;
color: $color-texto;
font-family: "Roboto"
    }
h1{
    font-size: $h1-mobile-size; 
    font-family:"Press Start 2P";
    }
h2{
        font-size: $h2-mobile-size;
    }
a{
    text-decoration: none;
}
li:not(.ss-vende li){
    list-style: none;
}
p{
    font-size: $p-mobile;
}
/* Estos son los estilos del header*/
header{
    width: 100%;
}
.navbar{
    background-color: rgba(25, 42, 78, 0.3);
    max-height: 90px;
}
.navbar .navbar-nav .nav-link {
    color: white;
    border-bottom: 1px solid white;
}
.navbar .navbar-nav .nav-link li.activo a.activo{
    color: $color-principal;
}
.navbar .navbar-toggler-icon {
    color: white;
}
.navbar-brand{
    width: 30%;
}
.navbar-nav{
    width: 100%;
}
.navbar-collapse.show{
    background-color: $color-body;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    z-index: 5;
}
.navbar-collapse.show .ss-lista{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border-color: $color-principal;
}
.navbar-collapse.show .nav-link{
    color:white;
    width: 100%;
    font-size: $h3-mobile-size;
    border-bottom: $color-principal;
}
.navbar-collapse.show .nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background-color: $color-header-footer;
}
.navbar-collapse.show .nav-item-diferente{
    width: 100%;
    color: white;
    background-color: $color-principal;
}
.bi{
    font-size:1.5rem;
}

/* Estos son los estilos del home*/
/* Estos son los estilos de la seccion hero-img*/
.ss-hero-img{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/personalizar-2.jpeg");
    background-position: center;
    background-size: cover;
    height: 40vh;
    max-height: 668px;
    div{
        margin-top:3.125rem; 
    }
}
.breadcrumb .breadcrumb-item a{
    color: $color-texto;
}
.breadcrumb .breadcrumb-item a:hover:not(.miga-activa){
    color: #6b717a;
}
.breadcrumb .breadcrumb-item .miga-activa{
    color: $color-principal;
}


.large-btn-mobile{
    @include large-btn-mobile();
}
.large-btn-mobile-2{
    @include large-btn-mobile-2();
}
/* Estos son los estilos de la seccion productos*/
.ss-card-img{
   height: 90px;
}

.small-btn-mobile{
    @include small-btn-mobile();
}
.ss-card-text{
    font-size: $texto-medidas;
}
.ss-precio{
    margin-bottom: 0.3rem;
    color: $color-principal-hover;
}
.ss-precio-personalizar{
        font-size:$h2-mobile-size;
        margin-bottom: 0.3rem;
        color: $color-principal-hover;   
}
/* Estos son los estilos de la seccion img-descriptiva*/
.img-descriptiva{
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/img-descriptiva-2.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
}
.logo-imagen{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18%;
    height: 40%;
}
/* Estos son los estilos de la seccion tamaños*/
.mousepad{
    position: relative;
    background-color: $color-texto;
    width: 100%;
    border-radius: 8px;
    border: 3px dashed black;
    p{
        font-size:$texto-medidas;
    }
}
.t1{
    height: 70px;
}
.t2{
    height: 60px;
}
.t3{
    height: 90px;
}
.bi-mouse-fill{
    transform: rotate(-45deg);
    font-size: 2rem;
    position: absolute;
    bottom: 0%;
    right: 5%;
    transition: transform 0.3s ease-in-out;
}
.mousepad:hover .bi-mouse-fill{
    animation: myAnim 8s cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}
@keyframes myAnim {
    0%,
    100% {
        transform: translateX(0%) rotate(-45deg); 
        transform-origin: 50% 50%;
    }

    5% {
        transform: translateX(-20px) rotate(2.4deg); 
    }

    15% {
        transform: translateX(-50px) rotate(-6deg); 
    }

    25% {
        transform: translateX(5px) rotate(3.6deg); 
    }

    35% {
        transform: translateX(15px) rotate(6deg); 
    }

    45% {
        transform: translateX(-25px) rotate(3.6deg); 
    }

    55% {
        transform: translateX(-40px) rotate(-4.8deg); 
    }

    65% {
        transform: translateX(10px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-20px) rotate(-2.4deg); 
    }

    85% {
        transform: translateX(10px) rotate(3.6deg); 
    }
}
/* Estos son los estilos de la seccion materiales*/
.titulo-materiales{
    font-weight: bold;
    margin:0.2rem 0 0.2rem 0;
}
/* Aqui terminan los estilos del home*/

/*estilos seccion personalizar*/
.row{
    .cargar-img{
        .cargar{
            p:hover{
                background-color: $color-principal;
                color: white;
            }
        }
    }
}
.form-check-input{
    cursor: pointer;
}
/* Aqui terminan los estilos de personaliazar*/

/* Estos son los estilos de catalogo*/
.ss-hero-pag:not(.ss-hero-img){
    background-position: center;
    background-size: cover;
    h1{
        margin-top:3.125rem ;
    }
   height:20vh;
}
.ss-hero-catalogo{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/catalogo-2.jpeg");
}
.trabajo-artista{
    div{
        img{
            cursor: pointer;
             border-radius: 8px; 
    }}
}
/* aqui terminan los estilos de catalogo*/

/* Estos son los estilos de catalogo*/
.ss-hero-pag:not(.ss-hero-img){
    background-position: center;
    background-size: cover;
    h1{
        margin-top:3.125rem ;
    }
   height:20vh;
}
.ss-hero-artistas{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero-artistas.jpeg");
}
.artista{
    overflow: hidden;
    div.card{
        border-radius: 8px; 
        img{
            border-radius: 8px; 
    }
    p{
        font-size: $p-desktop-size;
        color: $color-texto;
    }
}
}
.artista {
    .card{
        overflow: hidden;
        img{
        transition: all 0.3s ease;
    }}
}
.artista {
    .card:hover{
        img{
            transform: scale(1.2);
        }
    }
}
.artistas-btn{
    display: block;
    border: 2px solid $color-principal;
    color: $color-principal;
    background-color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 2rem;
    font-size: $p-desktop-size;
    border-radius: 8px;
    padding: 1rem 0.5rem 1rem 0.5rem;
    transition: all 0.3s ease;
}
.artistas-btn:hover{
    background-color: $color-principal;
    color: $color-body;
    border-color: $color-body;
}
/* aqui terminan los estilos de catalogo*/

/* Estos son los estilos de formulario vende con nosotros*/
.ss-form{
    label{
        margin-bottom: 0.2rem;
    }
    input{
        border-radius: 8px;
        height: 3rem;
        padding-left: 1rem;
        border-bottom: 2px solid $color-principal;
        caret-color: $color-principal;
    }
    input::placeholder{
        opacity: 0.6;
    }
    input:focus{
        outline: none;
    }
    input:focus::placeholder{
        opacity: 0;
    }
    textarea{
        border-radius: 8px;
        height: 10rem;
        border: 2px solid $color-principal;
    }
}
.ss-hero-formulario{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner-mousepadlab.jpeg");
}
/* Estos son los estilos de formulario venta*/
.ss-vende{
    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: none;   
        appearance: none;           
      }
      
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
}
.obligatorio{
    color: $color-principal;
    margin-right: 0.5rem;
}

/* aqui terminan los estilos de de formulario venta*/

.ss-hero-personalizar{
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hr-personalizar.jpeg");
}
section > h2{
    margin-bottom: 1.5rem;
}
.btn-tamaño{
    cursor: pointer;
}
.img-carrito{
    width: 100%;
    max-height: 250px;
    border-radius: 8px;
}
.carrito-elemento{
    margin-bottom: 3rem;
}
.carrito-elemento{
    .bi{
        cursor: pointer;
    }
}
.iconos-carrito{
    color: $color-principal;
}
.bi-trash{
    color: $color-texto;
}
/* Estos son los estilos de quienes somos*/
.quienes-somos .bi{
color: $color-principal;
}
.quienes-somos h2{
margin-top: 1rem;
}
.valores-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border:2px solid $color-texto;
    background-color: white;
    height: auto;
    min-height: 320px;
    margin-bottom: 3rem;
}
/* aqui terminan los estilos de quienes somos*/

/* Estos son los estilos del footer*/
footer{
    color: white;
    background-color: $color-header-footer;
    ul{
        padding: 0;
    }
.ss-img-footer{
    width: 100%;
    max-width: 380px;
    max-height: 140px;
}
}
.social-media{
    .bi{
        padding: 0.5rem;
        color: $color-principal;
        background-color: white;
        border-radius: 50%;
    }
}
@media (min-width: 576px) { 
.ss-hero-pag:not(.ss-hero-img){
    h1{
        margin-top:3.125rem ;
    }
   height:30vh;
}
.t1{
    height: 140px;
}
.t2{
    height: 100px;
}
.t3{
    height: 210px;
}
}
@media (min-width: 768px) { 
    .ss-hero-img{
        height: 50vh;
        div{
            margin-top:5rem; 
        }
    }
    .ss-hero-pag:not(.ss-hero-img){
        h1{
            margin-top:5rem ;
        }
       height:40vh;
}
    p{
        font-size:$p-desktop-size;
    }
    h1{
        font-size: $h1-desktop-size;
    }
    .texto-descriptivo{
        font-size: $texto-descriptivo-desktop;
    }
    .large-btn-mobile .large-btn-mobile-2{
        font-size: $h2-mobile-size;
    }
    h1{
        font-size: $h2-desktop-size;
    }
    h2{
        font-size: $h3-desktop-size;
    }
    .card-title{
        font-size: $h2-mobile-size;
     }
     .ss-card-text{
         font-size: $texto-descriptivo;
     }
     .ss-precio{
        font-weight:500;
        font-size:$h3-mobile-size;
         margin-bottom: 0.3rem;
         color: $color-principal-hover;
     }
     .ss-precio-personalizar{
        font-size: $h2-mobile-size;
        margin-bottom: 0.3rem;
        color: $color-principal-hover;
     }
    .img-descriptiva{
        p{
            font-size: $h2-mobile-size;
        }
    }
    .titulo-materiales{
        font-size: $h2-mobile-size;
    }
    .t1{
        height: 180px;
    }
    .t2{
        height: 150px;
    }
    .t3{
        height: 280px;
    }
    .artista{
        div.card{
            border-radius: 8px; 
            img{
                border-radius: 8px; 
        }
        p{
            font-size: $h2-mobile-size;
            color: $color-texto;
        }
    }
    }
    .artistas-btn{
        font-size: $h2-mobile-size;
    }
    section > h2{
        margin-bottom: 3rem;
    }
 }
 
 @media (min-width: 992px) { 
    .ss-hero-img{
        height: 80vh;
        div{
            margin-top:5rem; 
        }
    }
    .ss-hero-pag:not(.ss-hero-img){
        h1{
            margin-top:5rem ;
        }
    }
    .ss-card-img{
        height: 190px;
     }
     
     .small-btn-mobile{
        font-size: $h3-mobile-size;
     }
     .card-title{
        font-size: $h1-mobile-size;
     }
     .ss-card-text{
         font-size: $texto-descriptivo;
     }
     .ss-precio{
        font-size:$h2-mobile-size;
         margin-bottom: 0.3rem;
         color: $color-principal-hover;
     }
     .ss-precio-personalizar{
        font-size:$h1-mobile-size;
        margin-bottom: 0.3rem;
        color: $color-principal-hover;
     }
    section,.img-descriptiva{
        margin:3rem 0 4rem 0;
    }
    .ss-hero-pag{
        margin: 0;
    }
    h1{
        font-size: $h1-desktop-size;
    }
    h2{
        font-size: $h2-desktop-size;
    }
    .texto-descriptivo{
        font-size: $texto-descriptivo-desktop;
    }
    .large-btn-mobile, .large-btn-mobile-2{
        font-size: $h2-mobile-size;
    }
    .img-descriptiva{
        p{
            font-size: $h2-desktop-size;
            padding: 2.5rem 0.5rem 2.5rem 0.5rem;
        }
    }
    .titulo-materiales{
        font-size: $h3-desktop-size;
    }
    .t1{
        height: 250px;
    }
    .t2{
        height: 210px;
    }
    .t3{
        height: 330px;
    }
    .bi-mouse-fill{
        font-size: 4rem;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
 }