@charset "UTF-8";
.large-btn-mobile:hover {
  background-color: #B01D4E;
}

.large-btn-mobile-2:hover {
  background-color: white;
}

.small-btn-mobile:hover {
  background-color: #B01D4E;
}

.small-btn-desktop:hover {
  background-color: #B01D4E;
}

body {
  background-color: #F5F7FA;
  color: #374151;
  font-family: "Roboto";
}

h1 {
  font-size: 1.875rem;
  font-family: "Press Start 2P";
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

li:not(.ss-vende li) {
  list-style: none;
}

p {
  font-size: 0.875rem;
}

/* Estos son los estilos del header*/
header {
  width: 100%;
}

.navbar {
  background-color: rgba(25, 42, 78, 0.3);
  max-height: 90px;
}

.navbar .navbar-nav .nav-link {
  color: white;
  border-bottom: 1px solid white;
}

.navbar .navbar-nav .nav-link li.activo a.activo {
  color: #DF2361;
}

.navbar .navbar-toggler-icon {
  color: white;
}

.navbar-brand {
  width: 30%;
}

.navbar-nav {
  width: 100%;
}

.navbar-collapse.show {
  background-color: #F5F7FA;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  z-index: 5;
}

.navbar-collapse.show .ss-lista {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border-color: #DF2361;
}

.navbar-collapse.show .nav-link {
  color: white;
  width: 100%;
  font-size: 1.25rem;
  border-bottom: #DF2361;
}

.navbar-collapse.show .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: #192A4E;
}

.navbar-collapse.show .nav-item-diferente {
  width: 100%;
  color: white;
  background-color: #DF2361;
}

.bi {
  font-size: 1.5rem;
}

/* Estos son los estilos del home*/
/* Estos son los estilos de la seccion hero-img*/
.ss-hero-img {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/personalizar-2.jpeg");
  background-position: center;
  background-size: cover;
  height: 40vh;
  max-height: 668px;
}
.ss-hero-img div {
  margin-top: 3.125rem;
}

.breadcrumb .breadcrumb-item a {
  color: #374151;
}

.breadcrumb .breadcrumb-item a:hover:not(.miga-activa) {
  color: #6b717a;
}

.breadcrumb .breadcrumb-item .miga-activa {
  color: #DF2361;
}

.large-btn-mobile {
  color: white;
  width: 60%;
  min-width: 300px;
  max-width: 23rem;
  padding: 0.6rem 5rem 0.6rem 5rem;
  border-radius: 8px;
  background-color: #DF2361;
  transition: all 0.3s ease;
}

.large-btn-mobile-2 {
  color: #DF2361;
  width: 60%;
  min-width: 300px;
  max-width: 23rem;
  padding: 0.6rem 5rem 0.6rem 5rem;
  border-radius: 8px;
  border: 2px solid #DF2361;
  background-color: #F5F7FA;
  transition: all 0.3s ease;
}

/* Estos son los estilos de la seccion productos*/
.ss-card-img {
  height: 90px;
}

.small-btn-mobile {
  color: white;
  max-height: 2.5rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border-radius: 8px;
  background-color: #DF2361;
  transition: all 0.3s ease;
}

.ss-card-text {
  font-size: 0.75rem;
}

.ss-precio {
  margin-bottom: 0.3rem;
  color: #B01D4E;
}

.ss-precio-personalizar {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  color: #B01D4E;
}

/* Estos son los estilos de la seccion img-descriptiva*/
.img-descriptiva {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/img-descriptiva-2.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}

.logo-imagen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18%;
  height: 40%;
}

/* Estos son los estilos de la seccion tamaños*/
.mousepad {
  position: relative;
  background-color: #374151;
  width: 100%;
  border-radius: 8px;
  border: 3px dashed black;
}
.mousepad p {
  font-size: 0.75rem;
}

.t1 {
  height: 70px;
}

.t2 {
  height: 60px;
}

.t3 {
  height: 90px;
}

.bi-mouse-fill {
  transform: rotate(-45deg);
  font-size: 2rem;
  position: absolute;
  bottom: 0%;
  right: 5%;
  transition: transform 0.3s ease-in-out;
}

.mousepad:hover .bi-mouse-fill {
  animation: myAnim 8s cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

@keyframes myAnim {
  0%, 100% {
    transform: translateX(0%) rotate(-45deg);
    transform-origin: 50% 50%;
  }
  5% {
    transform: translateX(-20px) rotate(2.4deg);
  }
  15% {
    transform: translateX(-50px) rotate(-6deg);
  }
  25% {
    transform: translateX(5px) rotate(3.6deg);
  }
  35% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-25px) rotate(3.6deg);
  }
  55% {
    transform: translateX(-40px) rotate(-4.8deg);
  }
  65% {
    transform: translateX(10px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-20px) rotate(-2.4deg);
  }
  85% {
    transform: translateX(10px) rotate(3.6deg);
  }
}
/* Estos son los estilos de la seccion materiales*/
.titulo-materiales {
  font-weight: bold;
  margin: 0.2rem 0 0.2rem 0;
}

/* Aqui terminan los estilos del home*/
/*estilos seccion personalizar*/
.row .cargar-img .cargar p:hover {
  background-color: #DF2361;
  color: white;
}

.form-check-input {
  cursor: pointer;
}

/* Aqui terminan los estilos de personaliazar*/
/* Estos son los estilos de catalogo*/
.ss-hero-pag:not(.ss-hero-img) {
  background-position: center;
  background-size: cover;
  height: 30vh;
}
.ss-hero-pag:not(.ss-hero-img) h1 {
  margin-top: 3.125rem;
}

.ss-hero-catalogo {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/catalogo-2.jpeg");
}

.trabajo-artista div img {
  cursor: pointer;
  border-radius: 8px;
}

/* aqui terminan los estilos de catalogo*/
/* Estos son los estilos de artistas*/
.ss-hero-pag:not(.ss-hero-img) {
  background-position: center;
  background-size: cover;
  height: 28vh;
}
.ss-hero-pag:not(.ss-hero-img) h1 {
  margin-top: 3.125rem;
}

.ss-hero-artistas {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero-artistas.jpeg");
}

.artista {
  overflow: hidden;
}
.artista div.card {
  border-radius: 8px;
}
.artista div.card img {
  border-radius: 8px;
}
.artista div.card p {
  font-size: 1rem;
  color: #374151;
}

.artista .card {
  overflow: hidden;
}
.artista .card img {
  transition: all 0.3s ease;
}

.artista .card:hover img {
  transform: scale(1.2);
}

.artistas-btn {
  display: block;
  border: 2px solid #DF2361;
  color: #DF2361;
  background-color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  border-radius: 8px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s ease;
}

.artistas-btn:hover {
  background-color: #DF2361;
  color: #F5F7FA;
  border-color: #F5F7FA;
}

/* aqui terminan los estilos de catalogo*/
/* Estos son los estilos de formulario vende con nosotros*/
.ss-form label {
  margin-bottom: 0.2rem;
}
.ss-form input {
  border-radius: 8px;
  height: 3rem;
  padding-left: 1rem;
  border-bottom: 2px solid #DF2361;
  caret-color: #DF2361;
}
.ss-form input::-moz-placeholder {
  opacity: 0.6;
}
.ss-form input::placeholder {
  opacity: 0.6;
}
.ss-form input:focus {
  outline: none;
}
.ss-form input:focus::-moz-placeholder {
  opacity: 0;
}
.ss-form input:focus::placeholder {
  opacity: 0;
}
.ss-form textarea {
  border-radius: 8px;
  height: 10rem;
  border: 2px solid #DF2361;
}

.ss-hero-formulario {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner-mousepadlab.jpeg");
}

/* Estos son los estilos de formulario venta*/
.ss-vende input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}
.ss-vende input[type=number]::-webkit-outer-spin-button,
.ss-vende input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.obligatorio {
  color: #DF2361;
  margin-right: 0.5rem;
}

/* aqui terminan los estilos de de formulario venta*/
.ss-hero-personalizar {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hr-personalizar.jpeg");
}

section > h2 {
  margin-bottom: 1.5rem;
}

.btn-tamaño {
  cursor: pointer;
}

.img-carrito {
  width: 100%;
  max-height: 250px;
  border-radius: 8px;
}

.carrito-elemento {
  margin-bottom: 3rem;
}

.carrito-elemento .bi {
  cursor: pointer;
}

.iconos-carrito {
  color: #DF2361;
}

.bi-trash {
  color: #374151;
}

/* Estos son los estilos de quienes somos*/
.quienes-somos .bi {
  color: #DF2361;
}

.quienes-somos h2 {
  margin-top: 1rem;
}

.valores-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #374151;
  background-color: white;
  height: auto;
  min-height: 320px;
  margin-bottom: 3rem;
}

/* aqui terminan los estilos de quienes somos*/
/* Estos son los estilos del footer*/
footer {
  color: white;
  background-color: #192A4E;
}
footer ul {
  padding: 0;
}
footer .ss-img-footer {
  width: 100%;
  max-width: 380px;
  max-height: 140px;
}

.social-media .bi {
  padding: 0.5rem;
  color: #DF2361;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .ss-hero-pag:not(.ss-hero-img) {
    height: 30vh;
  }
  .ss-hero-pag:not(.ss-hero-img) h1 {
    margin-top: 3.125rem;
  }
  .t1 {
    height: 140px;
  }
  .t2 {
    height: 100px;
  }
  .t3 {
    height: 210px;
  }
}
@media (min-width: 768px) {
  .ss-hero-img {
    height: 50vh;
  }
  .ss-hero-img div {
    margin-top: 5rem;
  }
  .ss-hero-pag:not(.ss-hero-img) {
    height: 40vh;
  }
  .ss-hero-pag:not(.ss-hero-img) h1 {
    margin-top: 5rem;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.75rem;
  }
  .texto-descriptivo {
    font-size: 2rem;
  }
  .large-btn-mobile .large-btn-mobile-2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .ss-card-text {
    font-size: 1rem;
  }
  .ss-precio {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
    color: #B01D4E;
  }
  .ss-precio-personalizar {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    color: #B01D4E;
  }
  .img-descriptiva p {
    font-size: 1.5rem;
  }
  .titulo-materiales {
    font-size: 1.5rem;
  }
  .t1 {
    height: 180px;
  }
  .t2 {
    height: 150px;
  }
  .t3 {
    height: 280px;
  }
  .artista div.card {
    border-radius: 8px;
  }
  .artista div.card img {
    border-radius: 8px;
  }
  .artista div.card p {
    font-size: 1.5rem;
    color: #374151;
  }
  .artistas-btn {
    font-size: 1.5rem;
  }
  section > h2 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  .ss-hero-img {
    height: 80vh;
  }
  .ss-hero-img div {
    margin-top: 5rem;
  }
  .ss-hero-pag:not(.ss-hero-img) h1 {
    margin-top: 5rem;
  }
  .ss-card-img {
    height: 190px;
  }
  .small-btn-mobile {
    font-size: 1.25rem;
  }
  .card-title {
    font-size: 1.875rem;
  }
  .ss-card-text {
    font-size: 1rem;
  }
  .ss-precio {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    color: #B01D4E;
  }
  .ss-precio-personalizar {
    font-size: 1.875rem;
    margin-bottom: 0.3rem;
    color: #B01D4E;
  }
  section, .img-descriptiva {
    margin: 3rem 0 4rem 0;
  }
  .ss-hero-pag {
    margin: 0;
  }
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .texto-descriptivo {
    font-size: 2rem;
  }
  .large-btn-mobile, .large-btn-mobile-2 {
    font-size: 1.5rem;
  }
  .img-descriptiva p {
    font-size: 2.5rem;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  }
  .titulo-materiales {
    font-size: 1.875rem;
  }
  .t1 {
    height: 250px;
  }
  .t2 {
    height: 210px;
  }
  .t3 {
    height: 330px;
  }
  .bi-mouse-fill {
    font-size: 4rem;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}
.row .cargar-img .cargar p {
  text-align: center;
  padding: 10px;
  color: #DF2361;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: white;
  height: 60px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.container-img .col .img-principal {
  border-radius: 10px;
}

.seleccion .container-tamaño .tamaño .btn-tamaño {
  background-color: white;
  color: #DF2361;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  border-radius: 10px;
}
.seleccion .check-container .check-box .form-check {
  font-size: 16px;
}
.seleccion .check-container .check-box .form-check .form-check-input:checked[type=checkbox] {
  background-color: #DF2361;
  border-color: #DF2361;
}
.seleccion p {
  font-size: 20px;
  color: #DF2361;
}

.container-añadir .col .btn-añadir {
  width: 5 0%;
  padding: 15px;
  background-color: #DF2361;
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  .container-img .col .img-principal {
    border-radius: 10px;
  }
  .row .cargar-img .cargar p {
    font-size: 18px;
    font-weight: 500;
  }
  .container-añadir .col .btn-añadir {
    width: 300px;
    padding: 5 15px;
    background-color: #DF2361;
    color: white;
    margin-bottom: 30px;
    font-weight: 500;
  }
}
.titulo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

.bi {
  font-size: 1.5rem;
}

/* Estos son los estilos del main*/
.container-producto {
  text-align: center;
}
.container-producto .row .col p {
  color: #374151;
}
.container-producto .row .col p span {
  color: black;
}
.container-producto .row .col .sumar p {
  text-align: left;
  color: #DF2361;
  font-size: 20px;
}
.container-producto .row .col .sumar .precio {
  margin-left: 60%;
}

.container-botones .row {
  margin: 10px;
}
.container-botones .row .col .btn-compra {
  width: 300px;
  padding: 5 15px;
  border-color: #DF2361;
  background-color: white;
  color: #DF2361;
  font-weight: 500;
}
.container-botones .row .col .btn-compra-2 {
  width: 300px;
  padding: 5 15px;
  background-color: #DF2361;
  color: white;
  font-weight: 500;
}

@media only screen and (min-width: 700px) {
  .container-producto {
    text-align: center;
  }
  .container-producto .row .col p {
    color: #374151;
  }
  .container-producto .row .col p span {
    color: black;
  }
  .container-producto .row .col .sumar p {
    margin-left: 24%;
    color: #DF2361;
    font-size: 25px;
  }
  .container-producto .row .col .sumar .precio {
    margin-left: 40%;
  }
}/*# sourceMappingURL=style.css.map */